spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:h2:mem:genai;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
